.container{
    width: 350px;
    border: 2px solid lightgray;
    border-radius: 20px;
    margin-left: 50px;
}

.btnClose{
    float: right;
    margin: 10px;
    background-color: red;
    color: white;
    border: 1px solid darkred;
    border-radius: 3px;
    
}

.header{
    margin-top: 30px;
}


.grid{
    display: flex;
    justify-content: space-around;
}


